body {
  margin: 0;
  width: 100%;
}

hr {
  border: 1px solid #dadada;
  margin: 20px 0px;
}

.user-infor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid #dadada;
}
.user-infor form {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.user-infor input {
  padding: 10px;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 8px;
}
.btn-block {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.btn-block button {
  background-color: #0d6efd;
  color: #fff;
}

.information {
  background-color: aliceblue;
  padding: 10px;
  border-left: 5px solid #5073a7;
  color: cadetblue;
}
